table {
    width: 100%;
    border: 1px solid black;
    border-radius: 1em;
}

table th {
    text-align: center;
}

table td {
    text-align: center;
}

.w-3 {
    width: 3%;
}

.w-5 {
    width: 5%;
}